@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  scroll-behavior: smooth;
}

h1, h2, p {
    color: #e9f2ff;
}

h1, h2 {
  font-family: "Raleway", sans-serif;
}

p, a {
  font-family: "Roboto", sans-serif;
}