@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  margin: 0;
  font-size: 16px;
}

h1, h2, p, a{
    color: white;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.25
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.25
}

p, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25
}

.button-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 1.25
}
