@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  margin: 0;
  font-size: 16px;
}

h1,
h2,
p,
a {
  color: #e9f2ff;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.25
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.25
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.25;
}

p,
a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25
}

a {
  text-decoration: underline;
  text-decoration-color: #e9f2ff;
  transition: color 0.2s ease, text-decoration-color 0.2s ease;
}

a:hover {
  color: #006cff;
  text-decoration-color: #006cff;
}

img,
.protected-content {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1rem;
  }
  p, 
  a {
    font-size: 0.75rem;
  }
}