html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

h1, h2 {
  color: #e9f2ff;
  font-family: "Raleway", sans-serif;
}

p {
  color: #e9f2ff;
}

p, a {
  font-family: "Roboto", sans-serif;
}

header, 
.footer {
  background-color: #0a121f;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > img {
  width: 128px;
  height: auto;
}

.logo h1{
  padding-right: 20px;
}

a {
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
}

nav a, 
.contact-button {
  cursor: pointer;
  text-decoration: none;
  color: #e9f2ff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

nav a {
  background-color: #0a121f;
}

.contact-button {
  background-color: #006cff;
  margin-top: 20px;
}

nav a:hover, 
.contact-button:hover {
  background-color: #006cff;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  padding-left: 15%;
  padding-right: 15%;
}

.content, 
.image {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 50%;
}

.content {
  align-items: flex-start;
}

.image {
  align-items: flex-end;
}

.image > img, 
.item > img, 
iframe {
  max-height: 75%;
}

.image > img, 
.item > img {
  max-width: 250px;
}

iframe {
  max-width: 350px;
}

.bio, 
.organizations {
  background-color: #000814;
  color: #e9f2ff;
}

.projects, 
.organizations {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.projects {
  background-color: #0a121f;
}

.projects p, 
.projects a, 
.contact a, 
.organizations p, 
.organizations a {
  cursor: pointer;
  color: #e9f2ff;
}

.projects a:hover, 
.organizations a:hover, 
.contact a:hover {
  text-decoration-color: #006cff;
}

.projects-grid, 
.organizations-grid {
  padding-top: 50px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.contact {
  background: linear-gradient(to bottom, #0a121f 0%, #0a121f 95%, #000814 100%);
}

.footer {
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  .projects-grid, 
  .organizations-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .section {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .content, 
  .image {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .image {
    padding-top: 0;
  }

  .logo {
    justify-content: space-around;
  }

  .logo > img {
    max-width: 25%;
  }

  .image > img, 
  .item > img {
    width: 90%;
  }

  .projects-grid, 
  .organizations-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (prefers-color-scheme: light) {
  h2, p, 
  .projects p, 
  .organizations p {
    color: #000814;
  }
  .bio, 
  .organizations {
    background-color: #e9f2ff;
    color: #000814;
  }
  .projects {
    background-color: #e0e8f5;
  }
  .projects a, 
  .contact a, 
  .organizations a {
    cursor: pointer;
    color: #000814;
  }
  .contact-button {
    background-color: #0a121f;
  }
  .contact {
    background: linear-gradient(to bottom, #e0e8f5 0%, #e0e8f5 95%, #000814 100%);
  }
  .footer p {
    color: #e9f2ff;
  }
  .item > img {
    filter: invert(1) hue-rotate(180deg);
  }
}